@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

/* shared styles */

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

.btn {
  border-radius: 46px;
  background: rgb(220, 76, 53);
  padding: 10px 20px;
  color: white;
  border: none;
}

h1,
h2,
h4 {
  color: white;
}

p {
  color: gray;
  font-size: 0.8rem;
}

/* header section styles */
.intro {
  background-color: black;
  background: linear-gradient(
    rgb(23, 23, 23),
    rgb(72, 71, 71),
    rgb(23, 23, 23)
  );
}

/* header styles */
.intro {
  margin: auto;
  padding: 0px 50px;
}

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.nav-title {
  color: rgb(220, 76, 53);
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  font-style: italic;
}

.nav-items {
  display: flex;
  padding: 14px 4px;
  padding-right: 10px;
  gap: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.nav-item {
  list-style: none;
  text-align: left;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.hamburger-icon {
  display: none;
}

/* banner section styles */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  max-width: 500px;
}

.banner-title {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  text-align: left;
  line-height: 90%;
}

.banner-title-shape {
  font-family: "Miama", sans-serif;
  font-size: 6.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.banner-btns {
  display: flex;
  gap: 1rem;
}

.download-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background: none;
}

.img-container{
  position: relative;
}

.img-box-top {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 30%;
  left: 65%;
}

.img-box-bottom {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  top: 67.5%;
  left: -25%;
}

.img-box-bottom-cirle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}

.banner-img {
  width: 100%;
}

/* habits section styles */
.habits {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.habits-text {
  width: 550px;
  text-wrap: wrap;
  text-align: center;
}

.habits-card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.habits-card {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.habits-card > img {
  border-radius: 50%;
  border: 1px solid grey;
  width: 100%;
}

/* running secition styles */
.running {
  margin: 100px auto;
  width: 800px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

.running-content {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.75rem;
}

.running-img {
  width: 350px;
  border-radius: 20px;
}

/* BMI title styles */

.BMI-title-section {
  width: 100%;
}

.BMI-title-container {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  margin: 4rem 26rem;
}

/* BMI section */

.BMI-section {
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.BMI-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 100px;
  padding: 2rem 1rem;
}

.BMI-chart table {
  border-collapse: collapse;
  margin-top: 3rem;
}

.BMI-chart td,
.BMI-chart th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7.5px 15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.1);
}

.BMI-chart th {
  color: white;
}

.BMI-calculate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 500px;
}

.inputs-container {
  width: 100%;
}

.BMI-calculate input,
.BMI-calculate select {
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin: 2px 0;
  padding: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.height-weight,
.age-sex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.activity {
  margin: 2px 0;
  width: 100%;
}

/* excercise setion styles */

.exercise-videos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
}

.exercise-videos p {
  width: 25rem;
}

.videos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.videos iframe{
  border: 2px solid white;
  border-radius: 8px;
}

/* team section styles */

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto;
  padding: 5px;
  text-wrap: wrap;
}

.team-container > p {
  width: 90%;
  text-align: center;
}

.team-members img {
  width: 100%;
  border-radius: 18px;
  height: 250px;
}

.team-members {
  width: 60%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  padding: 20px;
}

.member {
  position: relative;
}

.member-info {
  position: absolute;
  top: 80%;
  left: 5%;
}

/* footer section styles */
.footer-section {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 11rem;
}

.footer-boxes {
  display: grid;
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
  gap: 2rem;
}

.box-1,
.box-2,
.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.box-1 > h1 {
  color: rgb(220, 76, 53);
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}

.line {
  width: 50%;
  margin: 0 auto;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.rights {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .nav-items {
    display: none;
  }

  .hamburger-icon {
    color: white;
    display: block;
  }

  .banner,
  .habits-card-container,
  .running,
  .BMI-content,
  .videos {
    flex-direction: column;
  }

  .banner-title {
    font-size: 3rem;
  }

  .banner-title-shape{
    font-size: 4.25rem;
  }

  .img-container{
    margin-top: 2rem;
  }

  .img-box-top {
    top: 10%;
    left: 53%;
  }

  .img-box-bottom {
    top: 50%;
    left: -15%;
  }

  .habits-text {
    width: 250px;
  }

  .running {
    width: 80%;
  }

  .running-img {
    width: 100%;
  }

  .running-content > button {
    width: 100%;
  }

  .BMI-title-container {
    width: 100%;
    padding-left: 1rem;
    margin: 4rem 0;
  }

  .BMI-calculate {
    width: 100%;
  }

  .team-members,
  .footer-boxes {
    grid-template-columns: 1fr;
  }

  .footer-section {
    padding: 2rem;
  }
}
